{% extends "bootstrap/base.html" %}
{% block title %}Playing{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role=navigation>
      <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand active" id="name-info" href="#">Song</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a id="album-info" href="#album">Album</a></li>
              <li><a id="artist-info" href="#artist">Artist</a></li>
            </ul>
            <div class="navbar-form navbar-left">
              <button id="playpause_icon" class="glyphicon glyphicon-pause btn btn-default"></button>
              <button id="next" class="glyphicon glyphicon-step-forward btn btn-default"></button>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="pull-right"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-md-4">
    <ul id=songSelector class="nav nav-pills nav-stacked">
            {% for i in directoryList %}
            <li><a href="#" data-src="{{i[0]}}" data-name="{{ i[1] }}" data-album="{{ i[2] }}" data-artist="{{ i[3] }}">{{ i[1] }}</a></li>
            {% endfor %}
    </ul>
    </div>
    <div class="col-md-6">
      <p>
<audio id="music" autoplay preload="auto">
    <source src="" type="audio/mpeg">
      Your browser does not support the audio tag.
</audio> 
      </p>
    </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
<!--script src="/static/js/jquery.min.js/"></script-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
$(function() {
var currentSong = $('#songSelector').find('li:first');
var playme = document.getElementById('music');
var setSong = function(song){
    currentSong = song;
//    var playme = document.getElementById('music');
    currSong = song.find("a");
    playme.src = currSong.attr('data-src');
    $("#artist-info").text(currSong.attr('data-artist'));
    $("#album-info").text(currSong.attr('data-album'));
    $("#name-info").text(currSong.attr('data-name'));
    var prevsong = $('#songSelector').find('li.active').removeClass("active");
    song.addClass("active");
    playme.load();
    playme.play();
}
var nextSong = function(){
    var next = currentSong.next();
    if ( next.length ) {
        currentSong = next;
    } else {
        /* uncomment this if you want it to loop back to the beginning */ 
        currentSong = $('#songSelector').find('li:first');
    }
    var testing = currentSong;
    setSong(testing);

};
var playpause = function(){
    if (playme.paused){
        playme.play();
        $(playpause_icon).removeClass("glyphicon-pause");
        $(playpause_icon).addClass("glyphicon-play");
    }else{
        playme.pause();
        $(playpause_icon).removeClass("glyphicon-play");
        $(playpause_icon).addClass("glyphicon-pause");
    }
};
$(music).bind('ended', nextSong);
$(next).bind('click', nextSong);
$(playpause_icon).bind('click', playpause);
jQuery('[data-src]').click(function(event)
{
    var song = $(event.currentTarget).parent();
    setSong(song);
});

setSong(currentSong);
});
</script>
{% endblock %}
